<h1>Add Your Review</h1>
<div>
    <form>
        <div class="form-group">
            <label for="reviewerName">User Name:</label>
            {{input value=reviewerName id="reviewerName"}}
        </div>

        <div class="form-group">
            <label for="reviewerDate">Review Date:</label>
            {{input value=reviewerDate id="reviewerDate"}}
        </div>
        <div class="form-group">
            <label for="reviewerRating">Review Rating (between 1-10):</label>
            {{input type='number' min=1 max=10 value=reviewerRating id="reviewerRating"}}
        </div>

        <div class="form-group">
            <label for="reviewerReview">Review Content:</label>
            {{textarea cols='25' rows='5' value=reviewerReview id="reviewerReview"}}
        </div>

        <button {{action 'saveReview'}}>Save Review</button>
    </form>
</div>
