<div class="row">
    <div class="col-sm-6 centerText">
        <p><img src={{model.imgURL}} class='imgDetails' alt="game image"></p>
        {{model.gameName}} |
        {{model.gameGenre}} |
        {{model.gameDeveloper}} |
        {{model.gameYear}}
    </div>
    <div class="col-sm-6">
        <h1 class='centerText'>{{model.gameName}}</h1>
        <p>{{model.gameDescription}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{new-review saveReview="saveReview" game=model}}
    </div>
</div>
